.button_container {
    display: flex;
    background-color: transparent;
    width: 400px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border: 1px solid coral;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
